<%= form_for [:admin, @client] do |f| %>
<div>
  <%= f.label :username %> 
  <%= f.text_field :username %>
</div>
<div>
  <%= f.label :password %> 
  <%= f.text_field :password %>
</div>
<div>
  <%= f.label :admin %>
  <%= f.check_box :admin %>
</div>
<%= f.submit %>
<% end %>
