<h1>RAM'N DRIVE ROBOS</h1>
<h3>PTFO</h3>
<nav>
<div><%= link_to "Logout", logout_path, method: :delete %></div>
</nav>

<table>
<thead>
  <th>Robot</th>
  <th>Model</th>
  <th>Price</th>
  <th>Rentals</th>
  <th>Rent</th>
  <th>Edit</th>
  <th>Delete</th>
</thead>
<tbody>
<% @robots.each do |robot| %>
  <tr>
    <td> <%= robot.name %> </td>
    <td> <%= robot.model %> </td>
    <td> <%= robot.price %> </td>
    <td> <%= Rental.where(robot_id: robot.id).count %> </td>
    <td> <%= link_to "Rent", rent_robot_path(robot.id), method: :post %></td>
  </tr>
<% end %>
</tbody>
</table>