<%= form_for @robot do |f| %>
  <div>
  <%= f.label :name %> 
  <%= f.text_field :name %>
  </div>
  <div>
  <%= f.label :model %> 
  <%= f.text_field :model %>
  </div>
  <div>
  <%= f.label :price %> 
  <%= f.text_field :price %>
  </div>
  <div>
  <%= f.file_field :image %> 
  </div>
  <%= f.submit %>
<% end %>