<div class="rowOne">
  <div class="container">
    <h1> ROBOT LIST</h1>
    <%= render "searchform" %>
    <table class="table table-hover">
      <thead>
        <th>Image</th>
        <th>ID</th>
        <th>Robot</th>
        <th>Model</th>
        <th>Price</th>
        <th>Rentals</th>
        <th>Rent</th>
        <% if current_client && current_client.admin %>
        <th>Edit</th>
        <th>Delete</th>
        <% end %>
      </thead>
      <tbody>
        <% @robots.each do |robot| %>
        <tr>
          <td> <%= image_tag robot.image.to_s if robot.image? %></td>
          <td> <%= robot.id %> </td>
          <td> <%= link_to robot.name, robot_path(robot) %> </td>
          <td> <%= robot.model %> </td>
          <td> <%= robot.price %> </td>
          <td> <%= Rental.where(robot_id: robot.id).count %> </td>
          <td> <%= link_to "Rent", rent_robot_path(robot.id), method: :post %></td>
          <% if current_client && current_client.admin %>
          <td> <%= link_to "Reconfigure robo", edit_robot_path(robot) %></td>
          <td> <%= link_to "Terminate robo", robot_path(robot), method: :delete %></td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="rowTwo">
  <div class="container">
    <% if current_client && current_client.admin %>
    <h1>RENTALS</h1>
    <table class="table table-hover">
      <thead>
        <th>Client</th>
        <th>Robot</th>
        <th>Checkout</th>
        <th>Checkin</th>
        <th>Review</th>
      </thead>
      <tbody>
        <% @rentals.each do |rental| %>
        <tr>
          <td> <%= rental.client_id %> - <%= Client.find(rental.client_id).username%></td>
          <td> <%= rental.robot_id %> - <%= Robot.find(rental.robot_id).name %></td>
          <td> <%= rental.checkout %> </td>
          <td> <%= rental.checkin if rental.checkin%> </td>
          <td> <%= rental.review if rental.review %> </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>
  </div>
</div>