<h1>Search Results</h1>
<table>
<thead>
  <th>Image</th>
  <th>ID</th>
  <th>Robot</th>
  <th>Model</th>
  <th>Price</th>
  <th>Rentals</th>
  <th>Rent</th>
  <% if current_client && current_client.admin %>
  <th>Edit</th>
  <th>Delete</th>
  <% end %>
</thead>
<tbody>

<% @robots.each do |robot| %>
  <tr>
    <td> <%= image_tag robot.image.to_s if robot.image? %></td>
    <td> <%= robot.id %> </td>
    <td> <%= link_to robot.name, robot_path(robot) %> </td>
    <td> <%= robot.model %> </td>
    <td> <%= robot.price %> </td>
    <td> <%= Rental.where(robot_id: robot.id).count %> </td>
    <td> <%= link_to "Rent", rent_robot_path(robot.id), method: :post %></td>
    <% if current_client && current_client.admin %>
    <td> <%= link_to "Reconfigure robo", edit_robot_path(robot) %></td>
    <td> <%= link_to "Terminate robo", robot_path(robot), method: :delete %></td>
    <% end %>
  </tr>
<% end %>