<h1>Robo <%= @robot.id %></h1>
<h2>Name: <%= @robot.name %></h2>
<h2>Model: <%= @robot.model %></h2>
<h2>Price: <%= @robot.price %></h2>
<h2>Rentals: <%= @robot.rentals %></h2>

<%= link_to "Return!", robots_path %>