<div class="rowOne">
  <h1>Client List</h1>
  <div class="container">
    <table class="table table-hover">
      <thead>
        <th>ID</th>
        <th>Admin?</th>
        <th>Username</th>
        <th>Password</th>
        <th>Rental Records</th>
        <th>Preview Mode</th>
        <th>Edit</th>
        <th>Delete</th>
      </thead>
      <tbody>
        <% @clients.each do |client| %>
        <tr>
          <td> <%= client.id %> </td>
          <td> <%= client.admin %> </td>
          <td> <%= client.username %> </td>
          <td> ********* </td>
          <td> <%= link_to "Rental Records", client_path(client) %></td>
          <td> <%= link_to "Switch", preview_session_path(client), method: :post %></td>
          <td> <%= link_to "Edit Info", edit_admin_client_path(client) %></td>
          <td> <%= link_to "Delete Client", client_path(client), method: :delete %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>