<h1>Client List - Admin only</h1>
<nav>
<div><%= link_to "Back to robot listings", robots_path %></div>
<div><%= link_to "New client!", new_client_path %></div>
</nav>

<table>
<thead>
  <th>ID</th>
  <th>Username</th>
  <th>Password</th>
  <th>Rental Records</th>
  <th>Edit</th>
  <th>Delete</th>
</thead>
<tbody>
<% @clients.each do |client| %>
  <tr>
    <td> <%= client.id %> </td>
    <td> <%= client.username %> </td>
    <td> <%= "*********" %> </td>
    <td> <%= link_to "Rental Records", client_path(client) %></td>
    <td> <%= link_to "Edit Info", edit_client_path(client) %></td>
    <td> <%= link_to "Delete Client", client_path(client),method: :delete %></td>
  </tr>
<% end %>
</tbody>
</table>

