<h1>New rental form</h1>
<%= form_for @rental do |f| %>
  <div>
  <%= f.label :robot_id %> 
  <%= f.text_field :robot_id %>
  </div>
  <div>
  <%= f.label :client_id %> 
  <%= f.text_field :client_id %>
  </div>
  <div>
  <%= f.label :checkin %> 
  <%= f.text_field :checkin %>
  </div>
  <%= f.submit %>
<% end %>


