<%= form_for @drone, :html=>{:multipart=> true} do |f| %>
<div>
  <%= f.label :name %> <br>
  <%= f.text_field :name %>
</div>
<div>
  <%= f.label :model %> <br>
  <%= f.text_field :model %>
</div>
<div>
  <%= f.label :price %> <br>
  <%= f.text_field :price %>
</div>
<!-- <div>
  <%= f.label :remote_image_url %> <br>
  <%= f.text_field :remote_image_url %>
</div> -->
<div>
  <%= f.label :image %> <br>
  <%= f.file_field :image %> <br>
</div>
<%= f.submit %>

<% end %>