<div class="rowOne">
  <div class="container">
    <h1> DRONE LIST</h1>
    <%= render "searchform" %>
    <table class="table table-hover">
      <thead>
        <th>ID</th>
        <th>Status</th>
        <th>Drone</th>
        <th>Model</th>
        <th>Price</th>
        <th>Rentals</th>
        <th>Rent</th>
        <% if current_client && current_client.admin %>
        <th>Edit</th>
        <th>Delete</th>
        <% end %>
      </thead>
      <tbody>
        <% @drones.each do |drone| %>
        <tr>
          <td> <%= drone.id %> </td>
          <td> <% if drone.rentals.empty? || drone.rentals.last.checkin != nil %>
            Available
            <% else  %>
            Not Available
            <% end %>
          </td>
          <td> <%= link_to drone.name, drone_path(drone) %> </td>
          <td> <%= drone.model %> </td>
          <td> $<%= drone.price %> </td>
          <td> <%= Rental.where(drone_id: drone.id).count %> </td>
          <td> <%= link_to "Rent", rent_drone_path(drone.id), method: :post %></td>
          <% if current_client && current_client.admin %>
          <td> <%= link_to "Reconfigure drone", edit_drone_path(drone) %></td>
          <td> <%= link_to "Terminate drone", drone_path(drone), method: :delete %></td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<% if current_client && current_client.admin %>
<div class="rowTwo">
  <div class="container">
    <h1>RENTALS</h1>
    <table class="table table-hover">
      <thead>
        <th>Client</th>
        <th>Drone</th>
        <th>Checkout</th>
        <th>Checkin</th>
        <th>Review</th>
      </thead>
      <tbody>
        <% @rentals.each do |rental| %>
        <tr>
          <td> <%= link_to rental.client.username, client_path(rental.client) %></td>
          <td> <%= link_to rental.drone.name, drone_path(rental.drone) %></td>
          <td> <%= rental.checkout %> </td>
          <td> <%= rental.checkin if rental.checkin%> </td>
          <td> <%= rental.review if rental.review %> </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>
  </div>
</div>